<h1 id="page_title" class ="text-center text-uppercase">Say Hello!</h1>
<div class = "skinny-wrapper wrapper-padding">
	<%= form_for @contact do |f| %>
	    <% if flash[:error].present? %>
	        <p> flash[:error]</p>
	    <% end %>
	    
	    <div class="form-group">
		    <%= f.label :name %> <br>
		    <%= f.text_field :name, required: true, class: "form-control" %>
		</div>
	    
	    <br>
	    
	    <div class="form-group">
		    <%= f.label :email %> <br>
		    <%= f.text_field :email, required: true, class: "form-control" %>
		</div>
	    
	    <br>
	    
	    <div class="form-group">
		    <%= f.label :message %> <br>
		    <%= f.text_area :message, as: :text, class: "form-control" %>
	    <div class="form-group">

	 	<div class="hidden">
		    <%= f.label :nickname %> <br>
		    <%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>
		
		<div class="actions">
	    	<%= f.submit 'Send Message', class: "btn btn-primary" %>
	    </div>
	  
	  <% end %>
</div>